{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

{import 'components/form.latte'}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{webpack main.css}?v={build}">
    {block head}{/block}
</head>

<body>
<div class="container nittro-transition-auto nittro-transition-bar">
	<div class="alert alert-" n:flashes></div>
	<div n:snippet="content">
        {include content}
	</div>
</div>

{block scripts}
	<script src="{webpack main.js}?v={build}"></script>
	<script src="{$basePath}/bower_components/nittro-full/dist/nittro.min.js" async defer></script>
{/block}
</body>
</html>
